VITE_FACEBOOK_APP_ID=123456789012345
VITE_GOOGLE_CLIENT_ID=687543650693-istlhoe28vq9adl28v5lc9ojkhgo47mj.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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
VITE_GOOGLE_REDIRECT_URI=https://campuslearning.site/oauth2/redirect
VITE_GEMINI_API_KEY=AIzaSyBovcV0C5cfLDBsTLRfim2k5jLo_Vir04g
